div.dt-buttons {
    position: relative;
    float:right;
    text-align:center;
}

.link {
    cursor : pointer;
}

.modal-backdrop {
    background-color: transparent !important;
}

label.center { text-align: center; vertical-align: middle; }

th.dt-center, td.dt-center { text-align: center; vertical-align: middle; }

th.dt-left, td.dt-left { text-align: left; vertical-align: middle; }

th.dt-right, td.dt-right { text-align: right; vertical-align: middle; }

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

tfoot select {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

textarea {
  resize: none;
}